.datepicker-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
  
.datepicker-label {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: #444;
}
  
.datepicker-input {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.datepicker-input-group {
  display: flex;
  align-items: center;
}

.date-nav-btn {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #444;
  padding: 0 8px;
  user-select: none;
  transition: color 0.3s;
}

.date-nav-btn:disabled {
  color: #aaa;
  cursor: not-allowed;
}

.date-nav-btn:not(:disabled):hover {
  color: #007bff;
}
