.datepicker-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
  
.datepicker-label {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: #27548A;
}
  
.datepicker-input {
  font-size: 1rem;
  margin: 1px;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: 2px solid #426692;
}

.datepicker-input-group {
  display: flex;
  align-items: center;
}

.date-nav-btn {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #27548A;
  padding: 0 8px;
  user-select: none;
  transition: color 0.3s;
}

.date-nav-btn:disabled {
  color: #afb8c3;
  cursor: not-allowed;
}

.date-nav-btn:not(:disabled):hover {
  color: #E78B48;
}

/* === Dark Mode Styles === */

.dark .datepicker-label {
  color: #fdaa6e;
}

.dark .datepicker-input-group input[type="date"] {
  color: #ffffff;
  background-color: #2b2b2b;
  border: 1px solid #444;
}

.dark .date-nav-btn {
  color: #fdaa6e;
}

.dark .date-nav-btn:not(:disabled):hover {
  color: #00D7FF;
}